@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Commador';
    src: url('./assets/FONTS/Commador.ttf');
}
  

:root {
    overflow-x: hidden;
}

.nav-hidden {
    display: none;
}


.carousel .thumbs,
.carousel-status {
    display: none;
}


/* CONTENEDOR HOME */
.header_nav {
    width: 100%;
    position: absolute;
    z-index: 2;
    /* background: #1f293785; */
}

.home_welcome {
    position: absolute;
    top: 16rem;
    width: 100%;
    height: 200px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.home_welcome h1 {
    font-size: 8rem;
    line-height: 30px;
    color: #ffffff;
    font-family: "Commador";
    filter: drop-shadow(0px 25px 4.5px rgba(0, 0, 1, 0.59));
}

.home_welcome h1 span {
    font-size: 1.5rem;
    letter-spacing: 5px;
}


.home_welcome p {
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    font-family: "Montserrat Roman";
    text-align: center;
    filter: drop-shadow(0px 25px 4.5px rgba(0, 0, 1, 0.59));

}

.home-reponses {
    width: 100%;
    background-color: #1f293785 !important;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.carousel .control-dots {
    position: absolute;
    bottom: 0;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    width: 100%;
    z-index: 1;
}

/* .menu-D {
    z-index: 3 !important;
    position: relative;
} */

/* CONTENEDOR BIENVENIDOS */
.text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.text-div p {
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    color: #343434;
    font-weight: 200;
    width: 77%;
}

.text-div2 {
    background-color: #67bfb1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.text-div2 h4 {
    font-size: 22px;
    letter-spacing: -1px;
    line-height: 24px;
    text-transform: uppercase;
    color: #004857;
    font-weight: 700;
    text-align: center;
}

.div3 {
    background-color: #00acce;
    padding: 2rem;
}

.contenedor1-div3 {
    align-items: center;
}

.item1-div3 {
    margin-right: 1rem;
}

.item1-div3 h1 {
    font-size: 34px;
    letter-spacing: -2px;
    color: #004857;
    font-weight: 700;
    line-height: 1;
}

.item2-div3 h1 {
    font-size: 12px;
    line-height: 13px;
    color: #004857;
    font-weight: bold;
}

.item2-div3 h1 span {
    color: #0048579a;
}

.contenedor2-div3 {
    text-align: center;
}

.contenedor2-div3 h1 {
    font-size: 24px;
    line-height: 18px;
    color: #fff;
    font-weight: 700;
}

.contenedor2-div3 h1 .span1 {
    color: #004857;
}

.span2 {
    font-size: 15px;
}

.span3 {
    color: #004857;
}

.span4 {
    font-size: 15px;
    color: #0048579a;
}

/* CONTENEDOR ABOUT */

.about-cont {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 1) 61%, rgba(103, 191, 177, 1) 61%, rgba(103, 191, 177, 1) 75%, rgba(0, 172, 206, 1) 75%, rgba(0, 172, 206, 1) 76%);
    padding: 3rem 3rem 3rem 0;
}

.contenerdo1-about {
    align-items: center;
}

.item1_about {
    width: 263rem;
    margin-right: 2rem;
}

.item2_about {
    text-align: center;
}

.item2_about h1 {
    font-size: 44px;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    /* font-family: "Commador"; */
}

.item2_about h1 span {
    color: #004857;
}

.item2_about p {
    font-size: 13px;
    line-height: 13px;
    color: #004857;
    font-weight: 500;
    /* font-family: "Montserrat Roman"; */
    text-align: left;
}


/* CONTENEDOR MENU */
.contenedor_menu {
    width: 100%;
    height: 27rem;
    background-color: #004857;
}

.contenedor_menu h1 {
    font-size: 160px;
    letter-spacing: 9px;
    line-height: 171px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Commador";
    /* text-align: right; */
}

.btn-hover:hover {
    color: white !important;
}



.margarita p {
    width: 30%;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Montserrat Roman";
    text-align: center;
    margin-bottom: 1rem;
}

.platos_comida {
    position: relative;
}

.platos_comida img {
    position: absolute;
    top: 0;
}

.platos_comida h1 {
    font-size: 395%;
    letter-spacing: 1px;
    line-height: 100px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Commador";
    filter: drop-shadow(0px 36px 9px rgba(60, 63, 21, 31.33));
    font-weight: 700;
}

.platos_comida div div button {
    z-index: 1;
}

/* CONTENEDOR Galeria */

.galeria_img {
    /* height: 50vh; */
    height: 100%;
    grid-template: auto / 1fr 1fr 1fr 1fr;
}

/* .galeria_img img {
    height: 100%;
} */

.galeria_img div:nth-of-type(1) img:nth-of-type(1),
.galeria_img div:nth-of-type(2) img:nth-of-type(2),
.galeria_img div:nth-of-type(3) img:nth-of-type(1),
.galeria_img div:nth-of-type(4) img:nth-of-type(2) {
    height: 18rem !important;
}

.galeria_img div:nth-of-type(1) img:nth-of-type(2),
.galeria_img div:nth-of-type(2) img:nth-of-type(1),
.galeria_img div:nth-of-type(3) img:nth-of-type(2),
.galeria_img div:nth-of-type(4) img:nth-of-type(1) {
    height: 10rem !important;
    width: 100%;
}

/* CONTENEDOR Footer */
.footer_div1 {
    width: 100%;
    height: 24rem;
    background-color: #004857;
}

.footer_div1 img {
    width: 45%;
}

.footer_div2 {
    width: 100%;
    /* height: 12rem;
     */
    padding: 3rem;
    background-color: #67bfb1;
}


.item1_footer h6 {
    font-size: 15px;
    line-height: 17px;
    color: #ffffffa1;
    font-weight: 300;
    font-family: "Montserrat Roman";
}

.item1_footer h1 {
    font-size: 42px;
    line-height: 42px;
    color: #ffffff;
    font-weight: 800;
    font-family: "Montserrat Roman";
}

.item1-div3-footer h1 {
    font-size: 34px;
    letter-spacing: -2px;
    color: #ffffff;
    font-weight: 700;
    line-height: 1;
}

.item1-div3-footer {
    margin-right: 1rem;
}

.item2-div3-footer h1 {
    font-size: 12px;
    line-height: 13px;
    color: #ffffff;
    font-weight: bold;
}

.item2-div3-footer h1 span {
    color: #ffffff9a;
}

.item3_footer h6 {
    font-size: 22px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Montserrat Roman";
}